---
// Remember: Astro component scripts log to the CLI

// src/pages/staff/index.astro
import BaseLayout from "../../layouts/BaseLayout.astro"
import StaffCardList from "../../components/StaffCardList.astro"

// const response = await fetch('../../Public/data/staff.json');
// const data = await response.json();
import json from "../../../Public/data/staff.json"

const admin = json.filter(StaffMember  => {
	return StaffMember.area === "Administration"
});

const researchers = json.filter(StaffMember => {
	return StaffMember.area === "Researchers"
});

const itstaff = json.filter(StaffMember => {
	return StaffMember.area === "IT Staff"
});

const interviewers = json.filter(StaffMember => {
	return StaffMember.area === "Research Interviewers"
});

let title = 'Center for Human Services Research - University at Albany - SUNY - Staff';
---
<BaseLayout title={title}>
	<main>
		<div id="content">
			<h1>STAFF DIRECTORY</h1>
			<StaffCardList json={admin} area="Administration" />
			<StaffCardList json={researchers} area="Researchers" />
			<StaffCardList json={itstaff} area="IT Staff" />
			<StaffCardList json={interviewers} area="Research Interviewers" />
		</div>
	</main>
</BaseLayout>