---
const {json, area} = Astro.props;
// console.log(json);
// console.log(json[0].area);
---
<h2>{area}</h2>

{json.map((staffMember) => (
	<div class="card">
		<a href={staffMember.path}>
			<img src={staffMember.img} alt={staffMember.name2} />
		</a>
		<div class="bio-nametitle">
			<a class="staff-name" href={staffMember.path}>{staffMember.name}</a>
			<br />
			<span class="staff-position">{staffMember.position}</span>
			<p class="bio-info">
				{staffMember.location}
				<br />
				{staffMember.phone}
				<br />
				{staffMember.email && <a href="mailto:${staffMember.email}">Email {staffMember.name.substring(0, staffMember.name.indexOf(" "))}</a>}
			</p>
		</div>
	</div>
))}
